/build/
/rootfs/
qemu/*.qcow2
qemu/seed.iso
!.vscode/
!.vscode/c_cpp_properties.json
!.vscode/settings.json
*.ko
*.mod
*.mod.c
*.o
.*.cmd
Module.symvers
modules.order
shared/_captures/
qemu/*.raw
shared/virt/cloudlab
*.orig
*-review.png
!shared/memory/build/
shared/*/build/*
!shared/memory/build/mm
shared/*/vmlinux.h
shared/*/*.skel.h
